.traffic-light
{
  width:200px;
  height:260px;
  background-color:gray;
}

.light
{
  width:80px;
  height:80px;
  border:2px solid;
  margin-left:auto;
  margin-right:auto;
  border-radius: 200px;
}

.red
{
  background-color:red
}
.amber
{
  background-color:yellow
}
.green
{
  background-color:green;
}

.off
{
  background-color:transparent;
 }
